@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

*,
*::before,
*::after {
  box-sizing: border-box;
}

.google_auth {
  text-align: center;
}

.auth {
  width: 100vw;
  height: 100vh;
  font-family: "Montserrat", sans-serif;
  background: #d6dbd8;
}

.auth__header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3%;
  background-color: #00bfa5;
  color: white;
}
.forms-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-title {
  font-size: 32px;
  letter-spacing: 1px;
  color: #00bfa5;
}

.forms {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-top: 40px;
}
.form-wrapper {
  animation: hideLayer 0.3s ease-out forwards;
}

.form-wrapper.is-active {
  animation: showLayer 0.3s ease-in forwards;
}

@keyframes showLayer {
  50% {
    z-index: 1;
  }
  100% {
    z-index: 1;
  }
}

@keyframes hideLayer {
  0% {
    z-index: 1;
  }
  49.999% {
    z-index: 1;
  }
}



@media (max-width: 768px) {
  .login__header {
    padding: 6%;
  }

 
  

 

 
}
