.chatbox__progressbar {
  background-color: none;
  width: 95%;
}

.chatbox__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  transition: all ease 0.3s;
}

.text_input {
  flex: 1;
  display: flex;
}
.chatbox__footer > form > input {
  flex: 1;
  border: none;
  border-radius: 30px;
  padding: 10px;
}

.chatbox__footer > form > button {
  display: none;
}

.image_input {
  height: 0;
  width: 0;
  opacity: 0;
  border: 1px solid blue;
}

.chatbox__emoji {
  height: 250px;
  overflow-y: hidden;
  transition: all ease 0.3s;
}

.image_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1%;
  cursor: pointer;
}

.reply__body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0% 1%;
}

.reply__content {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 1% 3%;
  background-color: #e4e4e4;
  border-radius: 5px;
  padding: 10px 15px;
  justify-content: center;
}

.reply__name {
  font-size: small;
  font-weight: 700;
}

.reply__message {
  color: gray;
}
