.left{
    width: 30vw;
    height: 100vh;
    position: absolute;
    background-color:#EDEDED;
    transition: all ease 0.3s;
}


@media (max-width: 768px) {
    .left{
        width: 100vw;
        height: 100vh;
        position: absolute;
        background-color:#EDEDED;
        transition: all ease 0.3s;
    }

}