.rightbar {
  height: 100vh;
  width: 27vw;
  background-color: #ededed;
  transition: all ease 0.2s;
}

@media (max-width: 768px) {
  .rightbar {
    width: 100vw;
    position: absolute;
    left: 0;
  }
}
