.App {
  display: grid;
  place-items: center;
  background-color: #dadbd3;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: inherit;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb {
  background-color: #90a4ae;
  border-radius: 0px;
}
